@font-face {
    font-family: 'iconfont';  /* Project id 3290190 */
    src: url('//at.alicdn.com/t/font_3290190_853oua93ate.woff2?t=1648971064492') format('woff2'),
         url('//at.alicdn.com/t/font_3290190_853oua93ate.woff?t=1648971064492') format('woff'),
         url('//at.alicdn.com/t/font_3290190_853oua93ate.ttf?t=1648971064492') format('truetype');
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}